<!-- Login For User -->
<h1>Login In</h1>

<% if flash[:error] %>
  	<p style="color: red;"><%= flash[:error] %></p>
<% end %>

<form action="/users/login" method="post">
   <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
   	<p>Email: <input type="text" name="Email" placeholder="Email" required></p>
   	<p>Password: <input type="password" name="Password" placeholder="Password" required></p>
   <input type="submit" value="Log In">
</form>

<!-- Register For User -->
<h1>Register</h1>

<% if flash[:errors] %>
  	<% flash[:errors].each do |err| %>
  		<p style="color: red;"><%= err %></p>
  	<% end %>	
<% end %>

<form action="/users/register" method="post">
   <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <p>Name: <input type="text" name="Name" placeholder="Name" required></p>
   	<p>Email: <input type="text" name="Email" placeholder="Email" required></p>
   	<p>Password: <input type="password" name="Password" placeholder="Password" required></p>
   	<p>Password Confirm: <input type="password" name="Password_Confirmation" placeholder="Password Confirm" required></p>
   <input type="submit" value="Register">
</form>